/* css per le cose che non sono supportate da bootstrap
 *
 */

@CHARSET "UTF-8";
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
    body
}

video,
#console,
.democonsole {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#console,
.democonsole {
    overflow-y: auto;
    width: 100%;
    max-height: 245px;
}

#videoContainer {
    position: absolute;
    float: left;
}

#videoBig {
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 1;
}

#videoBig2 {
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}

div#videoSmall {
    width: 240px;
    height: 180px;
    padding: 0px;
    position: absolute;
    top: 15px;
    left: 400px;
    cursor: pointer;
    z-index: 10;
    padding: 0px;
}

div.dragged {
    cursor: all-scroll !important;
    border-color: blue !important;
    z-index: 10 !important;
}

div.progress,
div#bitrate {
    margin: 0.3em 0em 0em 0em;
}

div.progress p.label2 {
    display: inline-block;
    font-weight: 400;
    width: 8.2em;
}

form {
    margin: 0 0 1em 0;
    white-space: nowrap;
}

progress {
    width: calc(100% - 8.5em);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.progress {
    height: 30px;
    background-color: #ffff;
    webkit-box-shadow: inset 0 1px 2px rgb(255, 255, 255);
    box-shadow: inset 0 1px 2px rgb(255, 255, 255);
}

#sendProgress {
    vertical-align: middle;
}

#receiveProgress {
    vertical-align: middle;
}

#contenitoreProgress {
    margin: 1.5em 0em 0em 0em;
}

.col-md-5 {
    display: block;
}

.col-md-12 {
    padding: 0;
}


/*
#file {
    padding-bottom: 30px;
}*/

#schermo {
    /*  float: left;*/
    padding-top: 20px;
    padding-left: 15px;
}

#sharing {
    float: right;
}

#progress {
    padding-bottom: 70px;
}